PORT=5050
NODE_ENV=development
MONGO_URI=mongodb+srv://borwornpob:ca57F6FE@vacqcluster.q32kmub.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=RFCfPPhz2qzMtSZwEHZ9h8u3jOOCS/9DkHnhmxTuFi0=
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30